@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    /* border: 1px solid black; */
    word-wrap:break-word;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.custom-shadow{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}



/* dark mode looking scrollbar */
::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background: oklch(var(--b2));
}

::-webkit-scrollbar-thumb {
	background: oklch(var(--s));
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #242424;
}